body {
  margin: 0;
  color: #40514e;
  text-align: center;
  font-family: "Merriweather", serif;
}
.one-line-intro{
    font-size: 1.5em;
}
div {
  margin: 0px;
}
h1 {
  margin: 50px auto 0 auto;
  color: #66bfbf;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
}
h2 {
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 2.5rem;
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-size: "Montserrat", sans-serif;
  color: #11999e;
}
.top-container {
  padding-top: 100px;
  background-color: #e4f9f5;
  position: relative;
}
.middle-container {
  margin: 100px 0;
}
.bottom-container {
  padding: 50px 0 20px;
  background-color: #66bfbf;
}
.pro {
  text-decoration: underline;
}
.cloud2 {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.cloud1 {
  position: absolute;
  right: 300px;
  top: 40px;
}
a {
  text-decoration: none;
  margin: 10px 20px;
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.skill_1_img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill_2_img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
hr {
  border-color: #eaf6f6;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
  width: 4%;
  margin: 100px auto;
}
#dp {
  border-radius: 100%;
}
.intro {
  width: 30%;
  margin: auto;
}
p {
  line-height: 2;
}
.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  font-family: "Montserrat", sans-serif;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.cc {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
a:hover {
  color: #eaf6f6;
}
